* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-size: 16px;
}

/* Styling for header and navigation */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

#seo {
    color: #d9dcd6;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

a {
    margin-left: 25px;
    color: #ffffff;
    text-decoration: none;
}

/* Styling for background image */

#digital-marketing-meeting {
    height: auto;
    max-width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;

}

/* Styling for specific services provided by Horiseon */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.provided-services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.provided-services img {
    max-height: 200px;
}

.provided-services h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Styling for benefits provided by Horiseon */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-explanations {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-explanations img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Styling for footer */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}